body {
    background: #1e1e1e;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

#connectBtn {
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
}
#connectBtn:active {
    background: #0059c9;
}

#controlPanel {
    margin-top: 20px;
}

.led-control {
    margin: 20px 0;
}

.btn {
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.on {
    background: #00c853;
    color: black;
}

.off {
    background: #ff1744;
    color: black;
}

input[type=range] {
    width: 200px;
    margin-top: 10px;
}
